Migrations/n8n/contact_us.json
{
  "name": "Contact Us - New Message Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Poll Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, message, created_at FROM contact_messages WHERE created_at > NOW() - INTERVAL '6 minutes' ORDER BY created_at DESC",
        "options": {}
      },
      "id": "fetch-contact-messages",
      "name": "Fetch New Contact Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-rows",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-messages",
      "name": "Has New Messages?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst senderName = item.name || 'Unknown';\nconst senderEmail = item.email || '';\nconst messageText = item.message || '';\nconst createdAt = item.created_at\n  ? new Date(item.created_at).toLocaleString('en-US', { timeZone: 'UTC', dateStyle: 'long', timeStyle: 'short' })\n  : 'Unknown time';\n\nconst htmlEmail = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>New Contact Message</title>\n</head>\n<body style=\"margin:0;padding:0;background-color:#F3F4F6;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#F3F4F6;padding:40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n\n          <!-- Header -->\n          <tr>\n            <td style=\"background:linear-gradient(135deg,#0F172A 0%,#1E3A5F 100%);border-radius:12px 12px 0 0;padding:32px 40px;text-align:center;\">\n              <p style=\"margin:0 0 8px 0;color:#93C5FD;font-size:13px;text-transform:uppercase;letter-spacing:2px;font-weight:600;\">SafeChat Platform</p>\n              <h1 style=\"margin:0;color:#FFFFFF;font-size:26px;font-weight:700;\">📬 New Contact Message</h1>\n              <p style=\"margin:12px 0 0 0;color:#BFDBFE;font-size:14px;\">Someone reached out via your contact form</p>\n            </td>\n          </tr>\n\n          <!-- Green accent bar -->\n          <tr>\n            <td style=\"background:linear-gradient(90deg,#059669,#10B981);padding:10px 40px;text-align:center;\">\n              <span style=\"color:#FFFFFF;font-size:13px;font-weight:600;letter-spacing:0.5px;\">✉️ Received ${createdAt} (UTC)</span>\n            </td>\n          </tr>\n\n          <!-- Body -->\n          <tr>\n            <td style=\"background-color:#FFFFFF;padding:36px 40px;\">\n\n              <p style=\"margin:0 0 28px 0;color:#374151;font-size:15px;line-height:1.6;\">\n                You have received a new message through your website's contact form. Here are the details:\n              </p>\n\n              <!-- Sender Card -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;\">\n                <tr>\n                  <td width=\"48%\" style=\"background-color:#F0FDF4;border:1px solid #86EFAC;border-radius:10px;padding:18px 20px;\">\n                    <p style=\"margin:0 0 4px 0;color:#166534;font-size:11px;text-transform:uppercase;letter-spacing:1px;font-weight:700;\">👤 Sender Name</p>\n                    <p style=\"margin:0;color:#14532D;font-size:17px;font-weight:700;\">${senderName.replace(/</g,'&lt;').replace(/>/g,'&gt;')}</p>\n                  </td>\n                  <td width=\"4%\"></td>\n                  <td width=\"48%\" style=\"background-color:#EFF6FF;border:1px solid #93C5FD;border-radius:10px;padding:18px 20px;\">\n                    <p style=\"margin:0 0 4px 0;color:#1E40AF;font-size:11px;text-transform:uppercase;letter-spacing:1px;font-weight:700;\">📧 Reply To</p>\n                    <p style=\"margin:0;color:#1E3A8A;font-size:15px;font-weight:700;word-break:break-all;\">${senderEmail.replace(/</g,'&lt;').replace(/>/g,'&gt;')}</p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Message Box -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"background-color:#FAFAFA;border:1px solid #E5E7EB;border-left:4px solid #10B981;border-radius:0 10px 10px 0;padding:22px 26px;\">\n                    <p style=\"margin:0 0 10px 0;color:#6B7280;font-size:11px;text-transform:uppercase;letter-spacing:1px;font-weight:700;\">💬 Their Message</p>\n                    <p style=\"margin:0;color:#1F2937;font-size:15px;line-height:1.8;\">${messageText.replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\\n/g,'<br>')}</p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Reply CTA -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#F0FDF4;border:1px solid #86EFAC;border-radius:10px;margin-bottom:8px;\">\n                <tr>\n                  <td style=\"padding:18px 24px;\">\n                    <p style=\"margin:0 0 8px 0;color:#166534;font-size:14px;font-weight:700;\">💡 Quick Tip</p>\n                    <p style=\"margin:0;color:#374151;font-size:14px;line-height:1.7;\">To reply directly to <strong>${senderName.replace(/</g,'&lt;').replace(/>/g,'&gt;')}</strong>, simply hit reply on this email or send to <a href=\"mailto:${senderEmail}\" style=\"color:#059669;font-weight:600;\">${senderEmail.replace(/</g,'&lt;').replace(/>/g,'&gt;')}</a></p>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"background-color:#0F172A;border-radius:0 0 12px 12px;padding:24px 40px;text-align:center;\">\n              <p style=\"margin:0 0 6px 0;color:#94A3B8;font-size:12px;\">This notification was automatically sent by SafeChat's contact form system.</p>\n              <p style=\"margin:0;color:#475569;font-size:11px;\">Manage your notification preferences in your dashboard settings.</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    toEmail: 'yugesh.kerckhoffs@gmail.com',\n    subject: `📬 New Contact Message from ${senderName}`,\n    htmlBody: htmlEmail,\n    senderName,\n    senderEmail\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Contact Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "senderName": "SafeChat Contact Form",
          "replyTo": "={{ $json.senderEmail }}"
        }
      },
      "id": "send-email",
      "name": "Send Contact Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [{ "node": "Fetch New Contact Messages", "type": "main", "index": 0 }]
      ]
    },
    "Fetch New Contact Messages": {
      "main": [
        [{ "node": "Has New Messages?", "type": "main", "index": 0 }]
      ]
    },
    "Has New Messages?": {
      "main": [
        [{ "node": "Build Contact Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Contact Email": {
      "main": [
        [{ "node": "Send Contact Notification", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "contact-form" },
    { "name": "automated" }
  ]
}
