Migrations/n8n/health_monitoring.json
{
  "name": "API Health Monitor - Alert on Failure",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Poll Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, checked_at, function_name, status, response_time_ms, error_message, overall_status FROM api_health_logs WHERE checked_at > NOW() - INTERVAL '6 minutes' ORDER BY checked_at DESC",
        "options": {}
      },
      "id": "fetch-health-logs",
      "name": "Fetch Recent Health Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-healthy",
              "leftValue": "={{ $json.overall_status }}",
              "rightValue": "all healthy",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "has-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-unhealthy",
      "name": "Filter: Only Unhealthy",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-logs",
      "name": "Aggregate All Logs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.item.json.data || [];\n\nif (!items || items.length === 0) {\n  return [];\n}\n\nconst checkedAt = items[0]?.checked_at\n  ? new Date(items[0].checked_at).toLocaleString('en-US', { timeZone: 'UTC', dateStyle: 'long', timeStyle: 'short' })\n  : 'Unknown time';\n\n// Count statuses\nconst errorCount = items.filter(i => (i.status || '').toLowerCase() === 'error' || (i.status || '').toLowerCase() === 'failed').length;\nconst warningCount = items.filter(i => (i.status || '').toLowerCase() === 'warning' || (i.status || '').toLowerCase() === 'slow').length;\nconst okCount = items.filter(i => (i.status || '').toLowerCase() === 'ok' || (i.status || '').toLowerCase() === 'healthy').length;\nconst overallStatus = items[0]?.overall_status || 'Unknown';\n\n// Determine alert level\nconst alertLevel = errorCount > 0 ? 'critical' : warningCount > 0 ? 'warning' : 'degraded';\nconst alertColors = {\n  critical: { bg: '#FFF0F0', border: '#DC2626', accent: '#DC2626', label: '🔴 CRITICAL', headerGrad: 'linear-gradient(135deg,#7F1D1D 0%,#DC2626 100%)' },\n  warning:  { bg: '#FFFBEB', border: '#D97706', accent: '#D97706', label: '🟡 WARNING',  headerGrad: 'linear-gradient(135deg,#78350F 0%,#D97706 100%)' },\n  degraded: { bg: '#F0F9FF', border: '#2563EB', accent: '#2563EB', label: '🔵 DEGRADED', headerGrad: 'linear-gradient(135deg,#1E3A8A 0%,#2563EB 100%)' },\n};\nconst c = alertColors[alertLevel];\n\n// Build function rows\nconst functionRows = items.map(log => {\n  const fn = log.function_name || 'unknown';\n  const st = (log.status || 'unknown').toLowerCase();\n  const rt = log.response_time_ms != null ? `${log.response_time_ms}ms` : 'N/A';\n  const err = log.error_message || '';\n  const os = log.overall_status || '';\n\n  let statusColor = '#6B7280';\n  let statusBg = '#F3F4F6';\n  let statusIcon = '⚪';\n  if (st === 'ok' || st === 'healthy') { statusColor = '#059669'; statusBg = '#F0FDF4'; statusIcon = '✅'; }\n  else if (st === 'error' || st === 'failed') { statusColor = '#DC2626'; statusBg = '#FFF0F0'; statusIcon = '❌'; }\n  else if (st === 'warning' || st === 'slow') { statusColor = '#D97706'; statusBg = '#FFFBEB'; statusIcon = '⚠️'; }\n\n  return `\n    <tr>\n      <td style=\"padding:14px 16px;border-bottom:1px solid #F3F4F6;color:#1E293B;font-size:14px;font-weight:600;\">${fn.replace(/</g,'&lt;').replace(/>/g,'&gt;')}</td>\n      <td style=\"padding:14px 16px;border-bottom:1px solid #F3F4F6;\">\n        <span style=\"background-color:${statusBg};color:${statusColor};font-size:12px;font-weight:700;padding:4px 10px;border-radius:20px;\">${statusIcon} ${st.toUpperCase()}</span>\n      </td>\n      <td style=\"padding:14px 16px;border-bottom:1px solid #F3F4F6;color:#374151;font-size:14px;text-align:center;\">${rt}</td>\n      <td style=\"padding:14px 16px;border-bottom:1px solid #F3F4F6;color:#6B7280;font-size:13px;\">${err ? err.replace(/</g,'&lt;').replace(/>/g,'&gt;').substring(0,100) + (err.length > 100 ? '...' : '') : '<span style=\"color:#D1D5DB;\">—</span>'}</td>\n    </tr>`;\n}).join('');\n\nconst htmlEmail = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>API Health Alert</title>\n</head>\n<body style=\"margin:0;padding:0;background-color:#F1F5F9;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#F1F5F9;padding:40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"680\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:680px;width:100%;\">\n\n          <!-- Header -->\n          <tr>\n            <td style=\"background:${c.headerGrad};border-radius:12px 12px 0 0;padding:32px 40px;text-align:center;\">\n              <p style=\"margin:0 0 8px 0;color:rgba(255,255,255,0.7);font-size:13px;text-transform:uppercase;letter-spacing:2px;font-weight:600;\">SafeChat Infrastructure</p>\n              <h1 style=\"margin:0;color:#FFFFFF;font-size:26px;font-weight:700;\">⚡ API Health Alert</h1>\n              <p style=\"margin:12px 0 0 0;color:rgba(255,255,255,0.8);font-size:14px;\">System check at ${checkedAt} (UTC)</p>\n            </td>\n          </tr>\n\n          <!-- Alert Level Banner -->\n          <tr>\n            <td style=\"background-color:${c.border};padding:14px 40px;text-align:center;\">\n              <span style=\"color:#FFFFFF;font-size:15px;font-weight:700;letter-spacing:0.5px;\">${c.label} — Overall Status: ${overallStatus.replace(/</g,'&lt;').replace(/>/g,'&gt;').toUpperCase()}</span>\n            </td>\n          </tr>\n\n          <!-- Body -->\n          <tr>\n            <td style=\"background-color:#FFFFFF;padding:36px 40px;\">\n\n              <p style=\"margin:0 0 28px 0;color:#374151;font-size:15px;line-height:1.6;\">\n                Your API health monitoring system has detected issues. One or more functions are reporting a non-healthy status. Please investigate immediately.\n              </p>\n\n              <!-- Stats Row -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td width=\"31%\" style=\"background-color:#FFF0F0;border:1px solid #FECACA;border-radius:10px;padding:16px;text-align:center;\">\n                    <p style=\"margin:0 0 4px 0;color:#DC2626;font-size:28px;font-weight:800;\">${errorCount}</p>\n                    <p style=\"margin:0;color:#B91C1C;font-size:12px;font-weight:700;text-transform:uppercase;\">❌ Errors</p>\n                  </td>\n                  <td width=\"4%\"></td>\n                  <td width=\"31%\" style=\"background-color:#FFFBEB;border:1px solid #FDE68A;border-radius:10px;padding:16px;text-align:center;\">\n                    <p style=\"margin:0 0 4px 0;color:#D97706;font-size:28px;font-weight:800;\">${warningCount}</p>\n                    <p style=\"margin:0;color:#92400E;font-size:12px;font-weight:700;text-transform:uppercase;\">⚠️ Warnings</p>\n                  </td>\n                  <td width=\"4%\"></td>\n                  <td width=\"31%\" style=\"background-color:#F0FDF4;border:1px solid #86EFAC;border-radius:10px;padding:16px;text-align:center;\">\n                    <p style=\"margin:0 0 4px 0;color:#059669;font-size:28px;font-weight:800;\">${okCount}</p>\n                    <p style=\"margin:0;color:#065F46;font-size:12px;font-weight:700;text-transform:uppercase;\">✅ Healthy</p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Function Table -->\n              <p style=\"margin:0 0 12px 0;color:#1E293B;font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:0.5px;\">📊 Function Breakdown</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #E5E7EB;border-radius:10px;overflow:hidden;margin-bottom:28px;\">\n                <tr style=\"background-color:#F8FAFC;\">\n                  <th style=\"padding:12px 16px;text-align:left;color:#64748B;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.5px;border-bottom:1px solid #E5E7EB;\">Function</th>\n                  <th style=\"padding:12px 16px;text-align:left;color:#64748B;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.5px;border-bottom:1px solid #E5E7EB;\">Status</th>\n                  <th style=\"padding:12px 16px;text-align:center;color:#64748B;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.5px;border-bottom:1px solid #E5E7EB;\">Response Time</th>\n                  <th style=\"padding:12px 16px;text-align:left;color:#64748B;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.5px;border-bottom:1px solid #E5E7EB;\">Error</th>\n                </tr>\n                ${functionRows}\n              </table>\n\n              <!-- Action Box -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:${c.bg};border:1px solid ${c.border};border-radius:10px;\">\n                <tr>\n                  <td style=\"padding:20px 24px;\">\n                    <p style=\"margin:0 0 10px 0;color:${c.accent};font-size:14px;font-weight:700;\">🔧 Suggested Actions</p>\n                    <ul style=\"margin:0;padding-left:20px;color:#374151;font-size:14px;line-height:1.9;\">\n                      <li>Check Supabase Edge Functions logs for detailed error traces</li>\n                      <li>Verify external API keys (Gemini, Stripe, etc.) are valid and not rate-limited</li>\n                      <li>Review recent deployments or code changes that may have caused regression</li>\n                      <li>Check database connectivity and query performance</li>\n                    </ul>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"background-color:#0F172A;border-radius:0 0 12px 12px;padding:24px 40px;text-align:center;\">\n              <p style=\"margin:0 0 6px 0;color:#94A3B8;font-size:12px;\">Automated alert from SafeChat Health Monitoring • Polling every 5 minutes</p>\n              <p style=\"margin:0;color:#475569;font-size:11px;\">You are receiving this because your API reported a non-healthy overall status.</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    toEmail: 'yugesh.kerckhoffs@gmail.com',\n    subject: `${c.label} — API Health Issue Detected (${errorCount} error${errorCount !== 1 ? 's' : ''}, ${warningCount} warning${warningCount !== 1 ? 's' : ''})`,\n    htmlBody: htmlEmail,\n    alertLevel,\n    errorCount,\n    warningCount\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Health Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "senderName": "SafeChat Health Monitor"
        }
      },
      "id": "send-email",
      "name": "Send Health Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 300],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [{ "node": "Fetch Recent Health Logs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Recent Health Logs": {
      "main": [
        [{ "node": "Filter: Only Unhealthy", "type": "main", "index": 0 }]
      ]
    },
    "Filter: Only Unhealthy": {
      "main": [
        [{ "node": "Aggregate All Logs", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate All Logs": {
      "main": [
        [{ "node": "Build Health Alert Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Health Alert Email": {
      "main": [
        [{ "node": "Send Health Alert Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "health-monitoring" },
    { "name": "automated" }
  ]
}
